language: haxe

sudo: false
dist: trusty

matrix:
  include:
    - env: TARGET=swf
      haxe: 3.4.7
    - env: TARGET=swf
      haxe: development

    - env: TARGET=as3
      haxe: 3.4.7

    - env: TARGET=js
      haxe: 3.4.7
    - env: TARGET=js
      haxe: development

    - env: TARGET=neko
      haxe: 3.4.7
    - env: TARGET=neko
      haxe: development

    - env:
       - TARGET=cpp
       - HXCPP_COMPILE_CACHE=~/hxcache
      haxe: 3.4.7
      addons: {apt: {packages: [gcc-multilib, g++-multilib]}}
    - env:
       - TARGET=cpp
       - HXCPP_COMPILE_CACHE=~/hxcache
      haxe: development
      addons: {apt: {packages: [gcc-multilib, g++-multilib]}}

    - env: TARGET=cppia
      haxe: development

    - env: TARGET=cs
      haxe: 3.4.7
      addons: {apt: {packages: [mono-devel, mono-mcs]}}
    - env: TARGET=cs
      haxe: development
      addons: {apt: {packages: [mono-devel, mono-mcs]}}

    - env: TARGET=java
      haxe: 3.4.7
    - env: TARGET=java
      haxe: development

    - env: TARGET=jvm
      haxe: development

    - env: TARGET=python
      haxe: 3.4.7
    - env: TARGET=python
      haxe: development

    - env: TARGET=hl
      haxe: development

    - env: TARGET=lua
      haxe: development

install:
  - haxelib install hxcs > log.txt || cat log.txt
  - haxelib install hxjava > log.txt || cat log.txt
  - haxelib install random > log.txt || cat log.txt
  - haxelib list

script:
  - cd ./tests
  - haxe RunTravis.hxml
  - neko RunTravis.n $TARGET
